form{
    width: 50%;
    margin: 20px auto;
}

textarea{
    padding: 10px;
    outline: none;
    width: calc(100% - 22px);
    min-height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dedede;
    font-size: 20px;
    font-family: "arial","helvetica",sans-serif;
    transition: box-shadow 0.5s;
}

textarea:hover{
    border: 1px solid #b4b4b4;
}

textarea:focus{
    border: 1px solid #b4b4b4;
    box-shadow: 0 0 0 4px rgba(90, 172, 255, 0.51);
}

input[type="submit"]{
    padding: 5px 15px;
    border: 1px solid #2e9cd9;
    color: #2e9cd9;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

input[type="submit"]:hover{
    color: #fff;
    background-color: #2e9cd9;
}

.navigator{
    width: 50%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigator a{
    font-size: 30px;
    text-decoration: none;
    color:#2e9cd9;
}

.navigator h1{
    margin: 0;
}

.navigator img{
    width: 200px;
}