body{
    height: 100vh;
    width: 100vw;
    background-color: #2e9cd9;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section h1{
    color:#fff;
}

section .logo{
    width: 302px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 75%;
    -webkit-user-drag: none;
    user-select: none;
}

div.form{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form input[type="email"],input[type="password"],input[type="text"]{
    width: 250px!important;
    height: 30px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 0 5px;
    font-size: 20px;
    transition: box-shadow 0.5s;
}

/*error stay */
form input[type="email"].error,input[type="password"].error,input[type="text"].error{
    border: 1px solid #c04646;
    background-color: #deacac;
}

form input[type="email"]:hover,input[type="password"]:hover,input[type="text"]:hover{
    border: 1px solid #b4b4b4;
}

/*error hover */
form input[type="email"].error:hover,input[type="password"].error:hover,input[type="text"].error:hover{
    border: 1px solid #c04646;
}

form input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus{
    border: 1px solid #b4b4b4;
    box-shadow: 0 0 0 4px rgba(90, 172, 255, 0.51);
}
/*error focus */
form input[type="email"].error:focus,input[type="password"].error:focus,input[type="text"].error:focus{
    border: 1px solid #c04646;
    box-shadow: 0 0 0 4px rgba(192, 70, 70, 0.51);
}

form input[type="submit"]{
    padding:5px 15px;
    border: 1px solid #2e9cd9;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    color:#2e9cd9;
    transition: background-color 0.5s;
}

form input[type="submit"]:hover{
    background-color: #2e9cd9;
    color:#fff;
}

a{
    color: #797979;
}

.copyright{
    color:#fff;
    font-size: 15px;
    margin: 10px auto 0 auto;
}

.topline{
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: 10px;
    background-color: #0c3f5d;
}

